[submodule "april"]
	path = april
	url = git://april.eecs.umich.edu/home/git/april.git
[submodule "libfreenect"]
	path = libfreenect
	url = git://github.com/OpenKinect/libfreenect.git
[submodule "probcog"]
	path = probcog
	url = git@github.com:amininger/probcog.git
[submodule "soar"]
	path = soar
	url = https://github.com/soargroup/Soar.git
[submodule "rosie"]
	path = rosie
	url = https://github.com/soargroup/rosie.git
[submodule "lcm"]
	path = lcm
	url = https://github.com/lcm-proj/lcm
